name: ci

on:
  push:
  pull_request:

jobs:
  linux_tests:
    runs-on: ubuntu-latest

    permissions:
      contents: write # semantic release: publish a GitHub release
      issues: write # semantic release: comment on released issues
      pull-requests: write # semantic release:  comment on released pull requests
      id-token: write # semantic release: use OIDC to publish to npm

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run linters
        run: npm run lint

      - name: Run tests
        run: npm run test

      - name: Check bundle size
        run: npm run bundlewatch
        env:
          BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}

      - name: Run semantic-release
        uses: cycjimmy/semantic-release-action@v6
        with:
          semantic_version: 25
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            conventional-changelog-conventionalcommits
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
